flowers
venv
Python-3.9.16
7 сем/Анализ данных/лр4/fc_model.h5
7 сем/Анализ данных/лр4/BernoulliRBM
7 сем/Анализ данных/лр5/BernoulliRBM
7 сем/Анализ данных/лр4/fc_model_withoutRBM.h5
7 сем/Анализ данных/лр4/fc_model_rbm.h5
